# --- Configuración General de la API ---
PROJECT_NAME="App_Log API"
API_V1_STR="/api/v1"

# --- Seguridad y Tokens JWT ---
SECRET_KEY="tu_secret_key_aqui_genera_una_con_openssl_rand_hex_32"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# --- PostgreSQL (asyncpg) ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app_log_db
DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/app_log_db"

# --- Redis ---
REDIS_URL="redis://localhost:6379/0"

# --- Broker de Eventos ---
BROKER_TYPE="REDIS"
AUTH_STREAM_NAME="stream:auth_events"
SYSTEM_STREAM_NAME="stream:system_events"
USERS_CONSUMER_GROUP="users_service_group"
AUDIT_CONSUMER_GROUP="audit_service_group"

# --- Google OAuth ---
GOOGLE_CLIENT_ID="tu_google_client_id.apps.googleusercontent.com"

#Usuario Administrador Inicial
FIRST_SUPERUSER_EMAIL: str = "admin@example.com"